/* RadioButton.module.css */

.main {
  display: flex;
  align-items: flex-start; /* Align items at the start of the flex container */
  padding: 10px;
}

.left {
  flex: 1;
  align-self: flex-start; /* Align this item at the start of its flex container */
  padding: 1rem; /* Adding padding to align content within the container */
}

.right {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem; /* Adding padding to align content within the container */
}

.label {
  display: flex;
  gap: 0.5rem;
}

.label input[type="radio"] {
  /* Increase the size of the radio button */
  width: 20px;
  height: 20px;
  margin-right: 8px; /* Add some spacing between the radio button and label */
}
