.main {
  display: flex;
  justify-content: space-between;
  padding: var(--space-medium);
  border-radius: 8px;
}

.save_button,
.button {
  font-size: 1rem;
  font-weight: bold;
  padding: var(--space-small) var(--space-medium);
  border-radius: var(--space-small);
  border: none;
  transition: background-color 0.2s; /* Smooth transition on hover */
  cursor: pointer;
  outline: none;
}

.save_button {
  background-color: #3498db;
  color: white;
}

.save_button:hover,
.save_button:focus {
  background-color: rgb(83, 159, 46);
}

.button {
  font-size: 1rem;
  background-color: #3498db;
  color: white;
}

.button:hover,
.button:focus {
  background-color: rgb(83, 159, 46);
}

.optional {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.optional input[type="text"] {
  padding: var(--space-small);
  border-radius: var(--space-small);
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.2s; /* Smooth transition on focus */
}

.optional input[type="text"]:focus {
  border-color: var(--primary-color);
}

.optional input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }

@media (max-width: 720px) {
  .main {
    flex-direction: column;
    gap: var(--space-medium);
    justify-content: center;
    align-items: center;
  }

  .save_button,
  .button {
    width: 100%;
    padding: var(--space-small) var(--space-medium);
    border-radius: var(--space-small);
  }
}
