.feedback {
  position: fixed; /* Fixed positioning to overlay on top of other content */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  color: white;
  border-radius: 8px;
  z-index: 999; /* Ensure it's on top of other elements */
  opacity: 0; /* Start as invisible to enable fade-in effect */
  animation: fadeIn 0.5s forwards; /* Animation named 'fadeIn' lasting 0.5s */
}

/* Animation to fade in */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.home_button:hover {
  background-color: #757575;
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid; */
  width: 100%;
  margin: 40px;
  padding: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 100%;
}

.wrapper {
  width: 100vw;
  
  
  padding: 20px 0;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}


.main {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 60%;
  padding: 4rem;
  background-color: #f5f5f5;
}

.form {
  
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid rgb(170, 170, 170);
}

.items {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.item, .item_clicked {
  background-color: white;
  padding: 2rem;
  border: 1px solid #999;
  transition: margin 0.1s ease-in-out, padding 0.1s ease-in-out, border 0.1s ease-in-out, background-color 0.2s;
  cursor: pointer;
}

.item:hover, .item_clicked:hover {
  border: 2px solid #3498db;
  padding: 2rem 2rem;
}

.item_clicked {
  background-color: #3498db;
  border: 1px solid #3498db;
}

.item:first-of-type, .item_clicked:first-of-type {
  border-top: 2px solid #3498db;
  border-radius: 1rem 1rem 0rem 0rem;
}

.item:last-of-type, .item_clicked:last-of-type {
  border-radius: 0rem 0rem 1rem 1rem;
}

.results {
  width: 80%;
}

@media (max-width: 720px) {
  .main {
    
    flex-direction: column;
    width: 100%;
    /* border: 1px solid; */
    padding: 1rem;
    padding-bottom: 3rem;
  }

  .form {
    width: 90%;
  }

  .name {
    font-size: 1.3em;
    font-weight: 200;
  }

  .date, .inDepth li, .desc {
    font-size: 0.8em;
  }

  .actions button {
    padding: 6px 10px;
    font-size: 0.85em;
  }
}
