@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100;1,900&family=Roboto:wght@100&family=Rubik:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #111;  /* Black-ish color for general UI elements like borders, text, etc. */
  --secondary-color: #f5f5f5; /* Light gray for backgrounds or hover effects */
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  background-color: rgb(234, 234, 234);
}
