.navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar li:hover {
    color: #0077b6; /* Change this to any color you want */
}