.main {
  padding: 2rem;
  border: 1px solid #999;
}
.email {
  width: 100%;
  padding: 1rem;
  border: none;

  white-space: pre-line;

  /* height: 2rem; */
  border-radius: 4px;

  font-size: 1rem;
  transition: border 0.2s ease;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 720px) {
  .main {
    padding: 1rem;
  }
}
